<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches" *ngIf="login.isLoggedIn()">
    <!--empieza toolbar  -->
    <!--<mat-toolbar color="primary" style="background: linear-gradient(90deg,#12b456 0%,#013f01 100%);"-->
        <mat-toolbar color="primary" style="background: linear-gradient(90deg,#013aa3 0%,rgb(7, 0, 104) 100%);" class="dashboard-toolbar"
        class="dashboard-toolbar">
        <button mat-icon-button  (click)="snav.toggle()">
            <mat-icon *ngIf="!login.isLoggedIn()" class="icono">menu_books</mat-icon>
            <mat-icon *ngIf="login.isLoggedIn()" class="icono">menu</mat-icon>
            <mat-icon src="../../../assets/logoblanco.png" class="icono"></mat-icon>
        </button>
        <h1 class="app-name">Módulo de Consulta TierraDentro</h1>
        
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="10px">

                <li *ngIf="login.isLoggedIn()">
                    <button mat-icon-button [matMenuTriggerFor]="menu" #tooltip="matTooltip" matTooltip="Cerrar sesión"
                        matTooltipHideDelay="50">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button met-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Cerrar sesión
                        </button>
                    </mat-menu>
                </li>
                <li *ngIf="!login.isLoggedIn()">
                    <button mat-icon-button #tooltip="matTooltip" matTooltip="Iniciar sesión" matTooltipHideDelay="50"
                        aria-label="Button that displays a tooltip that hides when scrolled out of the container">
                        <mat-icon>login</mat-icon>
                    </button>
                </li>
                <li *ngIf="!login.isLoggedIn()">
                    <button mat-icon-button #tooltip="matTooltip" matTooltip="Registrarme" matTooltipHideDelay="50"
                        aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                        class="example-button" >
                        <mat-icon>how_to_reg</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar>


    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56: 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over': 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list *ngIf="login.isLoggedIn()">
                <div class="container">
                    <div fxLayoutAlign="center center">

                        <img class="avatar mat-elevation-z8" src="../../../assets/perfil.png" />
                    </div>


                    <h4 class="name">{{login.getUser().firstName}} {{login.getUser().lastName}}</h4>
                    <p class="designation">{{login.getUser().email}}</p>
                    <p class="designation">{{login.getUser().telefono}}</p>
                </div>
                <!--<div class="card">
                    <mat-card-header>

                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title class="demo-text"> {{login.getUser().firstName}} {{login.getUser().lastName}}
                        </mat-card-title><br>
                        <mat-card-subtitle> {{login.getUser().email}}</mat-card-subtitle><br>
                        <mat-card-subtitle> {{login.getUser().telefono}}</mat-card-subtitle>

                    </mat-card-header>

                </div>-->
                <mat-divider></mat-divider>
                <a class="menu-button icono" mat-list-item [routerLink]="nav.route" *ngFor="let nav of menuNav">
                    <mat-icon>{{ nav.icon }}</mat-icon>
                    <span>{{nav.name}}</span>
                </a>
                <!--<a mat-list-item [routerLink]="nav.route" *ngFor="let nav of menuNav">
                    <mat-icon class="icono" > {{ nav.icon }}</mat-icon>
                    <mat-card-title class="demo-text">{{nav.name}}</mat-card-title>
                </a>-->
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <footer>
        <p>© 2023 Memoria Interactiva TierraDentro | Todos los derechos reservados</p>
      </footer>
</div>