<!-- Contenedor principal con el fondo de Unsplash -->
<div class="login-container" fxLayout="column" fxLayoutAlign="center center" [ngStyle]="unsplashClass()">

    <!-- Tarjeta de Recuperación de Contraseña centrada sobre el fondo -->
    <mat-card class="login-card mat-elevation-z8">
        <mat-card-title class="titulo-centrado">Bienvenido a</mat-card-title>
        <mat-card-title class="titulo-palabrero">TIERRADENTRO</mat-card-title>

        <span class="login-header mb-5 mt-3">Recuperar Contraseña</span>

        <!-- Formulario de Recuperación de Contraseña -->
        <form [formGroup]="form" (ngSubmit)="reset($event)" class="login-form" fxLayout="column">
            <!-- Campo de nueva contraseña -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nueva Contraseña</mat-label>
                <input formControlName="password" type="password" matInput placeholder="Digite su nueva contraseña" required>
                <mat-icon matPrefix>lock_outline</mat-icon>
            </mat-form-field>

            <!-- Campo para confirmar la nueva contraseña -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Confirmar Nueva Contraseña</mat-label>
                <input formControlName="confirmPassword" type="password" matInput placeholder="Confirme su nueva contraseña" required>
                <mat-icon matPrefix>lock_outline</mat-icon>
                <mat-hint>Las contraseñas deben coincidir</mat-hint>
            </mat-form-field>

            <!-- Botones de acción con espaciado -->
            <mat-dialog-content fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <button type="submit" mat-raised-button class="login-button" style="background-color: #c00000; color: white">
                    <mat-icon>save</mat-icon>Cambiar Contraseña
                </button>
                
            </mat-dialog-content>
        </form>

        <!-- Logo -->
        <div class="logo-container mt-3" fxLayoutAlign="center">
            <img mat-card-image width="22%" height="22%" src="../../../assets/logoarchivohistorico.png">
        </div>
    </mat-card>
</div>

<!-- Fondo alternativo para la sección adicional, solo si no es móvil -->
<div class="login-aside" *ngIf="!isMobileDevice()">
    <div class="login-aside-overlay"></div>
    <h1 class="login-welcome-text">Somos la memoria colectiva de los Atlanticenses</h1>
</div>

