<!-- Contenedor principal con el fondo de Unsplash -->
<div class="login-container" fxLayout="column" fxLayoutAlign="center center" [ngStyle]="unsplashClass()">

    <!-- Tarjeta de Registro centrada sobre el fondo -->
    <mat-card class="login-card mat-elevation-z8">
      <mat-card-title class="titulo-centrado">Bienvenido a</mat-card-title>
      <mat-card-title class="titulo-palabrero">TIERRADENTRO</mat-card-title>
  
      <span class="login-header mb-5 mt-3">Registro</span>
  
      <!-- Formulario de Registro -->
      <form (ngSubmit)="formSubmit()" class="login-form" fxLayout="column">
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input [(ngModel)]="user.firstName" name="nombre" matInput placeholder="Digite su nombre" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellido</mat-label>
          <input [(ngModel)]="user.lastName" name="apellido" matInput placeholder="Digite su apellido" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Digite su correo" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Digite una contraseña" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Repetir contraseña</mat-label>
          <input [(ngModel)]="user.confirmPassword" name="confirmpassword" type="password" matInput placeholder="Repita la contraseña" required>
          <mat-hint>Las contraseñas deben coincidir!!</mat-hint>
        </mat-form-field>
  
        <!-- Botones de acción con espaciado -->
        <mat-dialog-content fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button (click)="formSubmit()" mat-raised-button class="login-button" style="background-color: #c00000; color:white">
            <mat-icon>save</mat-icon>Registrar
          </button>
          <button mat-raised-button type="reset" class="login-button"  (click)="onCancel()">
            <mat-icon>cancel</mat-icon>Cancelar
          </button>
        </mat-dialog-content>
      </form>
  
      <!-- Logo -->
      <div class="logo-container mt-3" fxLayoutAlign="center">
        <img mat-card-image width="22%" height="22%" src="../../../assets/logoarchivohistorico.png">
      </div>
    </mat-card>
  </div>
  
  <!-- Fondo alternativo para la sección adicional, solo si no es móvil -->
  <div class="login-aside" *ngIf="!isMobileDevice()">
    <div class="login-aside-overlay"></div>
    <h1 class="login-welcome-text">Somos la Memoria colectiva de los Atlanticenses</h1>
  </div>
  