<mat-dialog-content>
    <div mat-card-avatar class="flexContainer">
       <p> 
       <!--<img mat-card-image style=" vertical-align: middle;"  src="../../../assets/perfil.png" width="50" height="50"></p>--> 
    <p mat-card-title style="font-weight: bold;">Formulario de recuperación de contraseña</p>
       
    </div>
    <br>
    <form (ngSubmit)="formSubmit()  ">
        <div class="adquiriente-container">
            
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Digite su correo"
                    required>
            </mat-form-field>
            
        </div>
    </form>       
</mat-dialog-content>
<mat-dialog-content>
    <div class="container text-center">
        <button (click)="formSubmit()" mat-raised-button  color="primary"><mat-icon>save</mat-icon>Enviar</button>
        <button mat-button color="" type="reset" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancelar</button>
    </div>
</mat-dialog-content>

