.adquiriente-container{
    display: flex;
    flex-direction: column;

}

.adquiriente-container > * {
    width: 100%;
}
table{
    width: 100%;
}

.alinear{
    text-align: center;
    margin-top: 20px;
}

li,ul {
    list-style: none;

}

mat-form-field{
    width: 100%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
flex:0 0 6%;
}

.color{
    color: white;
    
}
.profile-card{
    text-align: center;
    padding: 20px 20px 20px 20px;

}
img{
    transform: scale(1.5);
    float: left;
}
.flexContainer {
    display:flex;
    align-items:center;
  }
  
  .customSpan {
    margin:0 0 4px 4px;  
  }
  .customIcon {
    color:dodgerblue;
    font-size:25px;
  }
  p {
    float: left;
    font: bold;
    margin: 5px;
    padding: 5px;
  }

  .container-fluid {
    position: absolute;
    width: 100%;
    text-align: center;
    
    
  }