/* Contenedor principal del diálogo */
.mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Fondo de pantalla completo para el contenedor */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(244, 244, 244, 0.9);
}

/* Estilos para la tarjeta de login */
.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

/* Títulos centrados */
.titulo-centrado, .titulo-palabrero {
    text-align: center;
    color: #555;
}

.titulo-palabrero {
    font-size: 2rem;
    font-weight: 600;
    color: #c00000;
}

/* Estilo del formulario */
mat-form-field {
    width: 100%;
    margin-bottom: 12px;
}

mat-form-field input {
    padding: 8px;
}

/* Botones de acción */
.container button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

button[mat-raised-button] {
    background-color: #c00000;
    color: white;
}

button[mat-button] {
    color: #c00000;
}

button[mat-button]:hover {
    background-color: rgba(192, 0, 0, 0.1);
}

/* Ocultar contenido adicional en pantallas pequeñas */
@media (max-width: 600px) {
    .login-card {
        width: 90%;
    }
    
    .titulo-centrado, .titulo-palabrero {
        font-size: 1.5rem;
    }
    
    .login-header {
        font-size: 1rem;
    }
}

/* Estilo específico para pantallas extra pequeñas */
@media (max-width: 375px) {
    .login-container {
        padding: 10px;
    }
    
    .login-card {
        padding: 15px;
    }
    
    .login-aside {
        display: none;
    }
}
@media (max-width: 1280px) {
    .titulo-centrado {
      font-size: 1.3rem; /* Reduce un poco el tamaño del título */
    }
  
    .titulo-palabrero {
      font-size: 1.8rem; /* Ajusta el tamaño del título */
    }
  
    mat-form-field {
      margin-bottom: 10px; /* Aumenta el margen entre campos */
    }
    
    .login-header {
      font-size: 1rem; /* Ajusta el tamaño de la cabecera */
    }
  
    .login-container {
      padding: 20px; /* Da un poco de padding para evitar que los elementos se peguen a los bordes */
    }
  
    .mat-dialog-content {
      max-width: 400px; /* Limita el ancho del diálogo */
      padding: 20px;
    }
  }
  