<div  
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="0"
fxLayoutGap.xs="0">

<div class="login-card mat-elevation-z8" fxFlex="100%">
    
    <main class="login-content"
    fxLayout="column"
fxLayoutAlign="center center">
<img mat-card-image src="../../../assets/logo.png" alt="" width="200px;" height="10px;">
<span class="login-header mb-5 mt-3">Login</span>
<form [formGroup]="form" class="login-form align-items-center" fxLayout="column" (ngSubmit)="login($event)">
    <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nombre de usuario</mat-label>
    <input formControlName="username" matInput placeholder="Digite su nombre de usuario" required>
    <mat-icon matPrefix>mail_outline</mat-icon>
    <!--<mat-error *ngIf="form.controls.username.hasError('required')">
    Por favor ingrese un usuario valido
</mat-error>-->
</mat-form-field>
<mat-form-field class="full-width" appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input formControlName="password" type="password" matInput placeholder="Digite su contraseña" required>
    <mat-icon matPrefix>lock_outline</mat-icon>
   <!-- <mat-error *ngIf="form.controls.password.hasError('required')">
    Contraseña <strong>requerida</strong>
</mat-error>-->
</mat-form-field>
    <button type="submit" mat-raised-button style="background-color: #12b456; color: white;" matTooltip="Haz clic para iniciar sesión" class="login-button mt-3">Iniciar Sesión</button>
</form>
<div class="mt-3">
    <a class="forgot-link" routerLink="/forgot-password">recuperar constraseña?</a>
</div>

</main>
</div>
<!--<div class="login-card mat-elevation-z8"
    fxFlex= 45%
    fxLayout="column"
    fxLayoutAlign="end start"    
    [ngStyle]="unsplashClass()">
    <div class="login-aside-overlay"></div>
    <h1 class="login-welcome-text">Welcome!</h1>
    <hr class="login-aside-hr">


</div>-->

</div>